@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');
* {
    font-family: 'Mulish', sans-serif;
}
   
.primary-color {
    color: #FF5400;
}
.nav-logo {
    display: flex;
    border: 2px solid red;
    align-items: center;
}
.nav-logo img {
    width: 50px;
}
.navbar {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    margin: 0 auto;
}
.nav-title {
    font-size: 36px;
    font-weight: 800;
}
.navbar ul {
    display: flex;
    gap: 44px;
}
.navbar li {
    list-style: none;
}
.navbar li a {
    text-decoration: none;
}
.banner {
    position: relative;
    background: linear-gradient(180deg,
    rgba(19, 19, 24, 0.8)0%,
    rgba(19, 19, 24, 0))100%, url(./Images/Group\ 13\ \(1\)\ \(1\).png) no-repeat center;
    max-width: 1200px;
    height: 500px;
    overflow: hidden;
    margin: auto;
}
.input {
    width: 650px;
    display: flex;
    padding: 16px;
    gap: 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
}
.banner-title {
    font-size: 3.4em;
    font-weight: 800;
}
.btn-primary {
    padding: 05px 10px;
    border-radius: 8px;
    background: #FF5400;
}
/* footer style */
.footer {
    background: rgba(19, 19, 24, 0.05);
    max-width: 1200px;
    height: 400px;
    margin: 50px auto;
}
.f-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}
.f-para {
    text-align: center;
    width: 650px;
    margin: 0 auto;
}
.rights P {
    text-align: center;
}
.social {
    margin: 20px 20px;
    text-align: center;
}
hr {
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}