@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
    .navbar ul {
        flex-direction: column;
    }
}
@media screen and (max-width:600px) {
    .input {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .tours, .perfect-place {
        flex-direction: column;
        width: 100%;
        padding: auto;
    }
}